---
layout: bootcamp
root: .
venue: University of Chicago
address: BSLC 115, 924 East 57th Street
humandate: September 19-20, 2013
humantime: 8:30 am - 4:30 pm
startdate: 2020-09-19
enddate: 2020-09-20
latlng: 41.79149, -87.60270
registration: restricted
instructor: ["John Blischak", "Emily Davenport"]
contact: jdblischak@uchicago.edu
---
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/2013-09-19-chicago-syllabus.html %}
{% include bootcamps/contact.html %}

<hr/>

<h2>Setup</h2>

<div class="row-fluid">
  <div class="span6">
    {% include setup/overview-bash.html %}
    {% include setup/windows-bash.html %}
    {% include setup/macosx-bash.html %}
    {% include setup/linux-bash.html %}
    {% include setup/overview-editor.html %}
    {% include setup/windows-editor.html %}
    {% include setup/macosx-editor.html %}
    {% include setup/linux-editor.html %}
  </div>
  <div class="span6">
    {% include setup/overview-git.html %}
    {% include setup/windows-git.html %}
    {% include setup/macosx-git.html %}
    {% include setup/linux-git.html %}
    {% include setup/overview-python.html %}
    {% include setup/windows-python.html %}
    {% include setup/macosx-python.html %}
    {% include setup/linux-python.html %}
  </div>
</div>

<hr/>

<h2>Topics</h2>

<div class="row-fluid">
  <div class="span6">
    <h3><a href="lessons/shell.html">The Unix Shell</a></h3>
    <ul>
      <li>{% include guide-shell/filedir/title.md %}</li>
      <li>{% include guide-shell/create/title.md %}</li>
      <li>{% include guide-shell/pipefilter/title.md %}</li>
      <li>{% include guide-shell/loop/title.md %}</li>
      <li>{% include guide-shell/scripts/title.md %}</li>
      <li>{% include guide-shell/find/title.md %}</li>
    </ul>
  </div>
  <div class="span6">
    <h3><a href="lessons/db.html">Databases</a></h3>
    <ul>
      <li>{% include guide-db/select/title.md %}</li>
      <li>{% include guide-db/distinct/title.md %}</li>
      <li>{% include guide-db/filter/title.md %}</li>
      <li>{% include guide-db/calc/title.md %}</li>
      <li>{% include guide-db/sort/title.md %}</li>
      <li>{% include guide-db/null/title.md %}</li>
      <li>{% include guide-db/aggregate/title.md %}</li>
      <li>{% include guide-db/grouping/title.md %}</li>
      <li>{% include guide-db/join/title.md %}</li>
      <li>{% include guide-db/create/title.md %}</li>
      <li>{% include guide-db/transactions/title.md %}</li>
      <li>{% include guide-db/programming/title.md %}</li>
    </ul>
  </div>
</div>
