---
layout: bootcamp
root: .
venue: University of Chicago
address: BSLC 115, 924 East 57th Street
country: United-States
humandate: Sept 19-20, 2013
humantime: 8:30 am - 4:30 pm
startdate: 2020-09-19
enddate: 2020-09-20
latlng: 41.79149, -87.60270
registration: restricted
instructor: ["John Blischak", "Will Trimble", "Emily Davenport"]
contact: jdblischak@uchicago.edu
---
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/2013-09-19-chicago-syllabus.html %}
{% include bootcamps/contact.html %}

<hr/>

<div id="schedule" class="row-fluid">
  <h2>Schedule</h2>
  <p class="muted" style="font-style: italic;">Subject to Change</p>
  <div class="span4">
    <strong>Day 1</strong>
    <table class="table">
      <tbody>
        <tr>
          <td>8:30 - 8:45</td>
          <td style="text-align: right;">Setup Help</td>
        </tr>
        <tr>
          <td>8:45 - 9:00</td>
          <td style="text-align: right;">Introduction</td>
        </tr>
        <tr>
          <td>9:00 - 10:30</td>
          <td style="text-align: right;">The Shell</td>
        </tr>
        <tr>
          <td>10:30 - 12:00</td>
          <td style="text-align: right;">Python Variables</td>
        </tr>
        <tr>
          <td>12:00 - 1:00</td>
          <td style="text-align: right;">Lunch</td>
        </tr>
        <tr>
          <td>1:00 - 2:30</td>
          <td style="text-align: right;">Python Data Structures</td>
        </tr>
        <tr>
          <td>2:30 - 4:30</td>
          <td style="text-align: right;">Python Flow Control</td>
        </tr>
      </tbody>
    </table>
    <strong>Day 2</strong>
    <table class="table">
      <tbody>
        <tr>
          <td>9:00 - 10:30</td>
          <td style="text-align: right;">Python Functions and Modules</td>
        </tr>
        <tr>
          <td>10:30 - 12:00</td>
          <td style="text-align: right;">Data processing example with the 
	    shell and Python</td>
        </tr>
        <tr>
          <td>12:00 - 1:00</td>
          <td style="text-align: right;">Lunch</td>
        </tr>
        <tr>
          <td>1:00 - 4:30</td>
          <td style="text-align: right;">Introduction to R</td>
        </tr>
      </tbody>
    </table>
  </div>
</div> <!-- schedule -->

<hr/>

<h2>Chatroom</h2>

<p>
  <a href="https://etherpad.mozilla.org/fdRnRQKtzo">Link to etherpad chatroom</a>
</p>

<h2>Lessons</h2>

<p>
  <a href="lessons/index.html">Link to lesson material</a>
</p>

<h2>Setup</h2>

<div class="row-fluid">
  <div class="span6">
    {% include setup/overview-bash.html %}
    {% include setup/windows-bash.html %}
    {% include setup/macosx-bash.html %}
    {% include setup/linux-bash.html %}
    {% include setup/overview-editor.html %}
    {% include setup/windows-editor.html %}
    {% include setup/macosx-editor.html %}
    {% include setup/linux-editor.html %}
    {% include setup/overview-r.html %}
    {% include setup/windows-r.html %}
    {% include setup/macosx-r.html %}
    {% include setup/linux-r.html %}
  </div>
  <div class="span6">
    {% include setup/overview-git.html %}
    {% include setup/windows-git.html %}
    {% include setup/macosx-git.html %}
    {% include setup/linux-git.html %}
    {% include setup/overview-python.html %}
    {% include setup/canopy-python.html %}
  </div>
</div>

{% include setup/vm.html %}

<hr/>
