<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC
    "-//W3C//DTD XHTML 1.1 plus MathML 2.0 plus SVG 1.1//EN"
    "http://www.w3.org/2002/04/xhtml-math-svg/xhtml-math-svg.dtd">
<html xml:lang='en' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/1999/xhtml'>
<head><meta content='application/xhtml+xml;charset=utf-8' http-equiv='Content-type' /><title></title></head>
<body><p>
  <strong>What:</strong> More and more fields of biology are using
  computational methods for research. However, most undergraduate
  programs in biology do not provide the foundations of computer
  programming and software development in their curriculum, leaving
  graduate students to inefficiently struggle to self-teach themselves
  skills throughout their dissertation research. This is why Software
  Carpentry exists. Our goal is to help scientists and engineers
  become more productive by teaching them basic computing skills. In
  this two-day boot camp, attendees will learn basic programming, as
  well as best practices for writing correct and reproducible code,
  through short tutorials interspersed with hands-on practical
  exercises.
</p></body></html>
